/***
** Généralité
**/
*{
    margin: 0;
    padding: 0;
}
html,body{
    background: #1a1a1a;
    box-sizing: border-box;
    display: flex;
}
a{
    color: inherit;
    text-decoration: none;
}
.row{
    margin: 0;
    padding: 0;
    width: 100%;
}
/***
** Menu Gauche
**/
#menuLeft{
    float: left;
    position: relative;
    height: 100vh;
    background: #3f4141;
    width: 5vw;
    box-sizing: border-box;
    border: 0;
}
#hamburger{
    width: 100%;
    margin: 0;
    margin-top: 2em;
}
#navPrincipale{
    z-index: 15000;
    position: absolute;
    background: #1F2527;
    height: 100vh;
    display: none;
}
.boutonMenu
{
    display: block;
    text-align: center;
    width: 100%;
    height: 5em;
    line-height: 5em;
    margin: 0 auto;
}
.socialNetwork{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.boutonMenu i
{
    color: #4AADC7;
    transition: all 250ms ease;
}
.boutonMenu:hover i
{
    color: #73A71A;
}

/***
** Contenu principal
**/
#siteContent{
    float: left;
    width: 95vw;
    border: 0;
    box-sizing: border-box;
}

#accueil img{
    width: 60vw;
    height: auto;
    display: block;
    margin: 20vh auto 0 auto;
}
#accueil p {
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 3em;
    color: #3f4141;
}


/********************Page Artistes********CHAMPY*******/

                    /*Onglets*/
#page-artiste .nav a
{
    height: 7vh;
    padding: 0;
    line-height: 7vh;
    margin-bottom: 1em;

    color: #562431;
    font-size: 2em;
    font-weight: bold;
}

#page-artiste .nav a:hover
{
    color: #E03A67;
    background-color: #562431;
}

#page-artiste .nav a:focus
{
    color: #E03A67;
    background-color: #562431;
}

#page-artiste #pack1, #page-artiste #pack2, #page-artiste #pack3, a ,li
{
    color: #2aabd2;
}

                    /*Content Onglets*/
#page-artiste p
{
    text-align: left;
    color: white;
}

#page-artiste .tab-content
{
    border: solid 5px #1F2527;
    height: 60vh;
    width: 81.5vw;
    margin: 0 auto;
    text-align: center;
    background: url("../images/casque2.png") no-repeat right center;
    background-size: 30%;
}


/********************FIN Page Artistes********CHAMPY*******/

/********************Page Associations********CHAMPY*******/

/*Onglets*/
#page-asso .nav a
{
    height: 7vh;
    padding: 0;
    line-height: 7vh;
    margin-bottom: 1em;
    color: #28464e;
    font-size: 2em;
    font-weight: bold;
}

#page-asso .nav a:hover
{
    color: #4AADC7;
    background-color: #28464e;
}

#page-asso .nav a:focus
{
    color: #4AADC7;
    background-color: #28464e;
}

#page-asso #pack1, #page-asso #pack2, #page-asso #pack3, a ,li
{
    color: #2aabd2;
}

<<<<<<< HEAD
/*Content Onglets*/
#page-asso .tab-content
{
    border: solid 5px #1F2527;
    height: 60vh;
    width: 81.5vw;
    margin: 0 auto;
    text-align: center;
    background: url("../images/icone-asso2.png") no-repeat center center;
    background-size: 30%;
}

/********************FIN Page Associations********CHAMPY*******/

/********************Page Entreprises********CHAMPY*******/

/*Onglets*/
#page-entreprise .nav a
{
    height: 7vh;
    padding: 0;
    line-height: 7vh;
    margin-bottom: 1em;
    color: #2B351A;
    font-size: 2em;
    font-weight: bold;
}

#page-entreprise .nav a:hover
{
    color: #73A71A;
    background-color: #2B351A;
}

#page-entreprise .nav a:focus
{
    color: #73A71A;
    background-color: #2B351A;
}

#page-entreprise #pack1, #page-entreprise #pack2, #page-entreprise #pack3, a ,li
{
    color: #2aabd2;
}

/*Content Onglets*/
#page-entreprise .tab-content
{
    border: solid 5px #1F2527;
    height: 60vh;
    width: 81.5vw;
    margin: 0 auto;
    text-align: center;
    background: url("../images/icone-entreprises-fond-gris.png") no-repeat center center;
    background-size: 30%;
}

/********************FIN Page Entreprises********CHAMPY*******/

=======
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> refs/remotes/origin/master
>>>>>>> refs/heads/champy
