html,body{
    background: #1a1a1a;
}
a{
    color: inherit;
    text-decoration: none;
}
#accueil img{
    width: 60vw;
    height: auto;
    display: block;
    margin: 20vh auto 0 auto;
}
#accueil p {
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 3em;
    color: #3f4141;
}

/*Page Artistes*/


#pack1, #pack2, #pack3 a ,li
{
    color: #2aabd2;
}